# Ignora la carpeta de Intellij Idea
.idea

#Ignora la carpeta de export y upload
export
upload

# Ignora la carpeta de Netbeans
nbproject

# Ignora los archivos generados por gradle
.gradle

# Ignora los archivos generados por maven
target

# Ignora los archivos .json de la carpeta ./data/Postman/Local
data/Postman/Local/*.json